name: Deploy CyberChef to GitHub Pages

on:
  push:
    branches:
    - main
    paths:
    - version
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Download cyberchef release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: |
        cc_version="$(cat version | xargs)"
        gh release download "$cc_version" \
          --repo gchq/CyberChef \
          --pattern "CyberChef_$cc_version.zip" \
          --output cyberchef.zip
        mkdir dist
        unzip cyberchef.zip -d dist
        mv dist/CyberChef_*.html dist/index.html
    - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      with:
        path: ./dist
    - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
